* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 0 30px;
}

.search-title {
    display: flex;
    align-items: flex-start;
}

.search-input {
    width: 80%;
    margin-left: 15px;
    position: relative;
}

input#keyword {
    position: relative;
    width: 100%;
    padding: 8px 3px;
    font-size: 15px;
}

input#keyword:focus {
    outline: none;
}

/*
input#keyword:focus ~ div#prefixbox-autocomplete-0 > div.prefixbox-autocomplete-container{
    display:flex;
}
*/
/*--------------------AUTOCOMPLETE------------------------*/

.prefixbox-autocomplete-container {
    margin: 0;
    display: flex;
    background-color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: 62;
    text-align: left;
    box-shadow: 0 3px 12px #717171;
    position: absolute;
}




.prefixbox-autocomplete-container .col-1, .prefixbox-autocomplete-container .col-2 {
    padding: 0;
}


.prefixbox-autocomplete-container {
    width: 100%;
    top: 44px;
}

.prefixbox-autocomplete-container.open {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.prefixbox-autocomplete-container .col-1 {
    width: 30%;
    background-color: black;
}

.prefixbox-autocomplete-container .col-2 {
    width: 70%;
    background: #fff;
}


.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container {
    padding: 10px 10px 10px 20px;
    color: #ffffff;
    overflow: hidden;
}

.prefixbox-autocomplete-keyword-container:hover {
    background-color: #FA5104;
}

.prefixbox-group-2-title.pfbx-group-title {
    display: block;
    width: 100%;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 5%;
    background-color: #E8E8E8;
}

.prefixbox-autocomplete-product-container {
    padding: 10px 10px;
    color: #000;
    transition: 0.2s;
    border: 2px solid #fff;
    margin-left: 2px;
}


.prefixbox-autocomplete-product-container:hover{
    color: #FA5104;
    border: 2px solid #FA5104;
    cursor:pointer;
}

.prefixbox-autocomplete-left {
    display: table-cell;
    vertical-align: middle;
    width: 23%;
    min-width: 23%;
    text-align: center;
}

.prefixbox-autocomplete-left img {
    max-height: 70px;
    max-width:100%;
    height: auto;
}

.prefixbox-autocomplete-body {
    display: table-cell;
    vertical-align: middle;
    width: 10000px;
    font-weight: 400;
    padding-left: 10px;
    font-size: 14px;
}

.prefixbox-autocomplete-right {
    padding-left: 7px;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    width: 16%;
    color: #FA5104;
    font-weight: 700;
    -webkit-column-rule: #000;
    -moz-column-rule: #000;
    -o-column-rule: #000;
    column-rule: #000;
}

.oldPrice {
    display: block;
    font-size: 10px;
    text-decoration: line-through;
    color: #BFAEA1;
}


@media screen and (max-width: 768px) {
    *{
        margin: 0 auto;
        max-width: 100%;
    }
    .prefixbox-autocomplete-container{
        flex-wrap: wrap;
        width: 100%;
    }
    .prefixbox-autocomplete-container .col-1, .prefixbox-autocomplete-container .col-2{
        width: 100%;
    }

    .search-title{
        display: none;
    }

    #keyword{
        border: 1px solid #BFAEA1;
    }
}
    